*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    color: inherit;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.todo{
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}

.todo-inner{
    padding: 22px;
}

.yellow{
    background-color: #FFDC40;
    height: 28px;
}

.todo h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    padding-right: 40px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}

.add-btn{
    display: flex;
    background-color: #833AE0;
    border: none;
    border-radius: 70px;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.add-btn span.plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #9953F1;
    position: absolute;
    left: 0;
    border-radius: 70px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px;
}

li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

input:disabled{
    background-color: inherit;
    border: none;
}